<!DOCTYPE html>
<html>

<head>
    <title>⭐ Favoritos</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>⭐ Favoritos</h1>
    <p><a href="/">← Volver al lector</a></p>
    {{range .}}
    <div class="article">
        <a href="{{.Link}}" target="_blank"><strong>{{.Title}}</strong></a><br>
        <small>{{.Date}}</small>

        <form action="/remove" method="POST" style="display:inline;">
            <input type="hidden" name="link" value="{{.Link}}">
            <button type="submit" style="color:red; margin-left: 10px;">❌</button>
        </form>

        <hr>
    </div>

    {{else}}
    <p>No hay favoritos guardados.</p>
    {{end}}
</body>

</html>